<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theonlylies.musictagger">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name=".Aapplication">
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".activities.PreferencesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".activities.OneFileEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/activity_onefileedit_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".activities.MuchFileEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_muchfileedit_name"
            />

        <activity android:name=".activities.CoverArtGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme"
            android:label="@string/activity_coverart_name" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/activity_faq_name" />

        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/activity_about_name" />

        <activity
            android:name=".activities.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/activity_help_name" />

        <service android:name=".services.ForegroundTagEditService" >
        </service>
    </application>

</manifest>